[submodule "bundle/vim-tex-syntax"]
	path = bundle/vim-tex-syntax
	url = git@github.com:gerw/vim-tex-syntax.git
[submodule "bundle/vim-latex-suite"]
	path = bundle/vim-latex-suite
	url = git@github.com:gerw/vim-latex-suite.git
[submodule "bundle/vcscommand"]
	path = bundle/vcscommand
	url = https://github.com/vim-scripts/vcscommand.vim.git
[submodule "bundle/ZoomWin"]
	path = bundle/ZoomWin
	url = https://github.com/vim-scripts/ZoomWin.git
[submodule "bundle/The-NERD-Commenter"]
	path = bundle/The-NERD-Commenter
	url = https://github.com/vim-scripts/The-NERD-Commenter.git
[submodule "bundle/Align"]
	path = bundle/Align
	url = https://github.com/vim-scripts/Align.git
[submodule "bundle/matchit"]
	path = bundle/matchit
	url = https://github.com/vim-scripts/matchit.zip.git
[submodule "bundle/MatlabFilesEdition"]
	path = bundle/MatlabFilesEdition
	url = https://github.com/vim-scripts/MatlabFilesEdition.git
[submodule "bundle/Colour-Sampler-Pack"]
	path = bundle/Colour-Sampler-Pack
	url = git@github.com:vim-scripts/Colour-Sampler-Pack.git
[submodule "bundle/vim-openscad"]
	path = bundle/vim-openscad
	url = https://github.com/sirtaj/vim-openscad.git
[submodule "bundle/vim-exchange"]
	path = bundle/vim-exchange
	url = git@github.com:tommcdo/vim-exchange.git
[submodule "bundle/rainbow_parantheses"]
	path = bundle/rainbow_parantheses
	url = git@github.com:kien/rainbow_parentheses.vim.git
[submodule "bundle/vim-fireplace"]
	path = bundle/vim-fireplace
	url = git@github.com:tpope/vim-fireplace.git
[submodule "bundle/vim-clojure-highlight"]
	path = bundle/vim-clojure-highlight
	url = git@github.com:guns/vim-clojure-highlight.git
[submodule "bundle/vim-redl"]
	path = bundle/vim-redl
	url = git@github.com:dgrnbrg/vim-redl.git
[submodule "bundle/vim-cljfmt"]
	path = bundle/vim-cljfmt
	url = git@github.com:venantius/vim-cljfmt.git
