[submodule "bundle/vim-tex-syntax"]
	path = bundle/vim-tex-syntax
	url = git@github.com:gerw/vim-tex-syntax.git
[submodule "bundle/vim-latex-suite"]
	path = bundle/vim-latex-suite
	url = git@github.com:gerw/vim-latex-suite.git
[submodule "bundle/vcscommand"]
	path = bundle/vcscommand
	url = https://github.com/vim-scripts/vcscommand.vim.git
[submodule "bundle/ZoomWin"]
	path = bundle/ZoomWin
	url = https://github.com/vim-scripts/ZoomWin.git
[submodule "bundle/ManPageView"]
	path = bundle/ManPageView
	url = https://github.com/vim-scripts/ManPageView.git
